<launch>
 
  <arg name="launch_openni" default="false" />
  <arg name="asus" default="camera" />

  <rosparam command="load" file="$(find myo_kuka)/config/desperate_demo_camera_params.yaml" />
  <include file="$(find desperate_housewife)/launch/scene_filter_node.launch">
    <arg name="launch_openni" value="$(arg launch_openni)" />
    <arg name="asus" value="$(arg asus)" />
  </include>

</launch>
